@model Interest.Presentation.Models.RequestViewModel

@{
    ViewData["Title"] = "EditRequest";
}

<h1>EDIT REQUEST</h1>
<hr />
<h2>Request no: @Model.Id</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRequest" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" type="number" step="0.01" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <input name="Id" value="@Model.Id" hidden />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<h4>Computations</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Value</th>
            <th scope="col">Interest Rate</th>
            <th scope="col">Future Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computation in Model.Computations)
        {
            <tr>
                <th scope="row">@computation.Year</th>
                <td>@computation.Value</td>
                <td>@computation.InterestRate</td>
                <td>@computation.FutureValue</td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
